<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Bar Chart</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/my.css" %}" />
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script async="" src="{% static "js/analytics.js" %}"></script><script src="{% static "js/Chart.min.js" %}"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
    <script src="{% static "js/utils.js" %}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
{#    <div id="ChartWarpper" align="center">#}
{#        <div class="chart_desc" style=""><small class="grey"><span property="v:votes">1139</span> votes</small></div>#}
{#        <ul class="horizontalChart">#}
{#            <li><a href="javascript:void(0)" title="17人评分"><span class="label">10</span><span class="count" style="height:1.49%">(17)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="46人评分"><span class="label">9</span><span class="count" style="height:4.04%">(46)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="328人评分"><span class="label">8</span><span class="count" style="height:28.80%">(328)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="455人评分"><span class="label">7</span><span class="count" style="height:39.95%">(455)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="205人评分"><span class="label">6</span><span class="count" style="height:18.00%">(205)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="60人评分"><span class="label">5</span><span class="count" style="height:5.27%">(60)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="14人评分"><span class="label">4</span><span class="count" style="height:1.23%">(14)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="5人评分"><span class="label">3</span><span class="count" style="height:0.44%">(5)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="3人评分"><span class="label">2</span><span class="count" style="height:0.26%">(3)</span></a></li>#}
{#            <li><a href="javascript:void(0)" title="6人评分"><span class="label">1</span><span class="count" style="height:0.53%">(6)</span></a></li>#}
{#            </ul>#}
{#        </div>#}
    <div class="loading hidden" id="loading"></div>
    <div id="container" style="width: 800px; height: 500px;">
        <canvas id="canvas" style="display: block; height: 500px; width: 800px;" width="1100" height="600" class="chartjs-render-monitor"></canvas>
    </div>
    <div>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="collect" checked> 看过
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="do"> 在看
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 搁置
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox4" value="option3" checked> 抛弃
    </label>
    <button type="button" class="btn btn-default" id="Confirm">确认</button>
</div>
{#<form role="form">#}
{#  <div class="form-group" style="width : 200px;">#}
{#    <label for="name">显示</label>#}
{#    <select class="form-control">#}
{#      <option>数值</option>#}
{#      <option>百分比</option>#}
{#    </select>#}
{#  </div>#}
{#</form>#}
<div>
    <p id="time_content">最后一次更新于{{ time }}</p>
    <button type="button" class="btn btn-warning updateInfo" name="{{ bgm_id }}" id="updateInfo">更新数据</button>
    <p>(数据不准确？手动更新,可能需要很长时间！)</p>

</div>


    <script>
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
            datasets: [{
                label: '看过',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: {{ collect_data | safe }}
                    //[1,0,3,10,15,20,30,15,10,7]
            },
            {
                label: '抛弃',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: {{ dropped_data | safe }}
                    //[1,0,3,10,15,20,30,15,10,7]
            }]


        };

        var configs = {
                //scaleOverlay : false  // 网格线是否在数据线的上面
                scaleLabel : "<%=value%>",// 标签显示值
                scaleShowGridLines : true,// 是否显示网格线
                scaleShowValues: true,
                scaleValuePaddingX: 13,
                scaleValuePaddingY: 13
            };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                configs: configs,
                options: {
                    scaleShowValues: true,
                    scaleValuePaddingX: 13,
                    scaleValuePaddingY: 13,
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    },

                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: '评分分布'
                    }
                }
            });

        };


    </script>

<script src="{% static "js/distribution.js" %}"></script>

</body></html>
