{% extends "base.html" %}
{% block title %}
<title>动画好友评价 | Bangumi 番组计划</title>
{% endblock title %}

{% block context %}
<div id="main" class="png_bg">
<div id="header">
<h1>全部动画</h1>
</div>
<div class="columns clearit">
<div id="columnSubjectBrowserA" class="column">
<div class="section">
<ul id="browserItemList" class="browserFull">
    {% for  item in animelist %}
    {% if item.flag == 1 %}
        <li id="item_{{ item.bgm_id }}" class="item odd clearit">
        {% else %}
        <li id="item_{{ item.bgm_id }}" class="item even clearit">
        {% endif %}
<a href="http://bgm.tv/subject/{{ item.bgm_id }}" class="subjectCover cover ll">
    {% if item.img_url != '' %}
<span class="image">
<img src={{ item.img_url }} class="cover" />
</span>
<span class="overlay"></span>
    {% endif %}
</a>
<div class="inner">
<h3>
<a href="http://bgm.tv/subject/{{ item.bgm_id }}" class="l">{{ item.name }}</a> {% if item.foreign_name != '' %}<small class="grey">{{ item.foreign_name }}</small> {% endif %}
</h3>
{% if item.rank != 0 %}
<span class="rank"><small>Rank </small>{{ item.rank }}</span>
{% endif %}
<p class="info tip">{{ item.info }} </p>
<p class="rateInfo">
<span class="sstars{{ item.int_grade }} starsinfo"></span> <small class="fade">{{ item.grade }}</small> <span class="tip_j">({{ item.num }}人评分)</span>
</p>
</div>
</li>
    {% endfor %}
</ul>
<div class="clearit">
    <div class="page_inner">
        {% if page > 1 %}
            <a href="?id={{ bgm_id }}&amp;page=1" class="p">|‹</a>
            <a href="?id={{ bgm_id }}&amp;page={{ page|add:-1 }}" class="p">‹‹</a>
        {% endif %}
        {% for i in before_list %}
            <a href="?id={{ bgm_id }}&amp;page={{ i }}" class="p">{{ i }}</a>
        {% endfor %}
        <strong class="p_cur">{{ page }}</strong>
        {% for i in after_list %}
            <a href="?id={{ bgm_id }}&amp;page={{ i }}" class="p">{{ i }}</a>
        {% endfor %}
        {% if page < page_max %}
            <a href="?id={{ bgm_id }}&amp;page={{ page|add:1 }}" class="p">››</a>
        {% endif %}
        <a class="p_pages" style="padding: 0px"><input class="inputtext" style="width:30px;" name="custompage" onkeydown="if(event.keyCode==13) {window.location='?id={{ bgm_id }}&amp;page='+this.value + ''; return false;}" type="text"></a><span class="p_edge">(&nbsp;{{ page }}&nbsp;/&nbsp;{{ page_max }}&nbsp;)</span></div></div>
        </div>

</div>
</div>
<hr class="board" />
</div>
</div>
</div>
{% endblock context %}